body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}


/* Section 1 - Header */
.header {
    display: flex;
    background: #1F2937;
    padding: 8px 150px 8px 150px;
    justify-content: space-between;
    align-items: center;
}
.headerlogo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
}
.hero{
    display: flex;
    background: #1F2937;
    padding: 100px 150px 100px 150px;
    justify-content: flex-start;
    align-items: center;
}
.herocontainer {
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: center;
    align-items: flex-start;
    margin-right: auto;
}
.maintext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}
.secondarytext {
    color: #F9FAF8;
    font-size: 18px;
    margin: 8px 0px;
}
button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    color: white;
    height: 35px;
    width: 120px;
    text-align: center;
    font-size: 16px;
}
.imageplaceholder {
    display: flex;
    width: 350px;
    padding: 100px;
    background-color: grey;
    color: white;
    justify-content: center;
    align-items: center;
}


/* Section 2 - Information */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 100px 0px;
}
.informationheader {
    padding: 50px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;j
}
.cardcontainer,
.cardtextcontainer {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}
.card {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
    height: 125px;
    width: 125px;
    text-align: center;
}
.cardtext {
    padding: 3px;
    width: 125px;
    text-align: center;
}


/* Section 3 - Quote */
.quote {
    background-color: #E5E7EB;
    padding: 125px 250px;

}
.quotecontent {
    color: #1F2937;
    font-weight: light;
    font-style: italic;
    font-size: 36px;
}
.quoteauthor {
    color: #1F2937;
    font-weight: bold;
    font-size: 28px;
    text-align: right;
}


/* Section 4 - Call To Action and Footer */
.calltoaction {
    background-color: #3882F6;
    margin: 100px 150px;
    border-style: none;
    border-radius: 8px;
    padding: 50px 100px;
}
.calltoactioncontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.calltoactionheadercontainer {
    display: flex;
    flex-direction: column;
}
.calltoactionheadertext {
    color: #F9FAF8;
    font-size: 26px;
    font-weight: 800;
}
.calltoactionsecondarytext {
    color: #E5E7EB;
    font-size: 18px;
}
.button2 {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    margin-left: auto;
}
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 35px;
}
